.About_container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100vh;
    /* margin: 0px; */
    box-sizing: border-box;
    /* border: 1px solid blue; */
    /* background-color: red; */
}

.nav_container{
    box-shadow: 0px 0px 10px gray;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D9D9D9;
    padding-left: 30px;
    padding-right: 20px;
    height: 12vh;

}
.nav_heading{
    color: rgb(54, 49, 49);
    font-weight: bold;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.Badal_logo{
    color: white;
    /* background-color: white; */
    height: 10vh;
}


.form-container{
    display: inline-block;
background-color: rgb(211, 209, 206);
border-radius: 10px;
margin-left:60%;
width: 20%;
height:250px;
margin-top: 20%;
position: absolute;
top:-5px;
}
.item{
    text-align: center;
    margin-top: 50px;
}
.button{
    width:60px;
height: auto;
    align-items: center;
    background: #FFFFFF;
border: 1px solid #000000;
box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
position: relative;
top:15px;
}
.table,th,td {
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right:10px;
  }
#table{
    border-collapse: collapse;
    margin-left: 20%;
    margin-top: 80px;
}
 span{
display: block;
 }
 .item{
    position: relative;
    top:-25px;
 }